.button-round {
  @include link-style-reset;
  @include button-style-reset;

  display: block;

  padding-top: 16px;
  padding-right: 15px;
  padding-bottom: 16px;
  padding-left: 15px;
  box-sizing: border-box;

  font-weight: bold;
  text-align: center;

  border-width: 3px;
  border-style: solid;
  border-radius: 30px;

  cursor: pointer;

  @media (min-width: $desktop-width) {
    &--growing {
      padding-top: 14px;
      padding-bottom: 14px;
    }
  }
}
