.features {
  background-image: linear-gradient(174deg, $basic-background-color 248px, $dark-background-color 248px);

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(176deg, $basic-background-color 287px, $dark-background-color 287px);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(175deg, $basic-background-color 445px, $dark-background-color 445px);
  }
}

.features__wrapper {
  padding-top: 41px;

  @media (min-width: $tablet-width) {
    position: relative;

    padding-top: 46px;
  }

  @media (min-width: $desktop-width) {
    position: static;

    padding-top: 60px;
    padding-bottom: 40px;
  }
}

.features__slogan {
  margin-bottom: 110px;

  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;

    font-size: 50px;
    line-height: 68px;
  }
}

.features__question {
  @include paragraph-style-reset;

  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.features__answer {
  @include paragraph-style-reset;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-right: auto;
    width: 420px;
  }
}

.features__list {
  @include list-style-reset;

  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-top: 106px;
    padding-bottom: 42px;
    padding-left: 310px;
    min-height: 335px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    min-height: 0;
  }
}

.features__item {
  margin-bottom: 31px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 292px;
  }
}

.features__feature-image {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin-bottom: 55px;
  }
}

.features__feature {
  @include paragraph-style-reset;

  margin-bottom: 13px;

  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: $dark-text-color;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 22px;
    width: 230px;

    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }
}

.features__description {
  @include paragraph-style-reset;

  padding-right: 10px;
  padding-left: 10px;

  text-align: center;

  & br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding-right: 0;
    padding-left: 0;

    text-align: left;

    & br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    margin-right: auto;
    width: 240px;

    font-size: 18px;
    line-height: 30px;
    text-align: center;

    & br {
      display: none;
    }
  }
}

.features__image-wrapper {
  margin-right: auto;
  margin-left: auto;

  width: 157px;
  height: 275px;

  overflow: hidden;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 20px;
    bottom: 0;

    width: 268px;
    height: 481px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.features__image {
  @media (min-width: $tablet-width) {
    width: 268px;
    height: 481px;
  }
}
