.like-counter {
  display: flex;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }
}

.like-counter__button {
  @include button-style-reset;

  margin-right: 19px;
  width: 13px;
  height: 24px;

  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-left: auto;
    order: 3;
  }
}

.like-counter__label {
  @include paragraph-style-reset;

  font-size: 12px;
  text-transform: uppercase;
  color: $accent-color;
}

.like-counter__counter {
  @include paragraph-style-reset;

  margin-left: 3px;

  font-size: 12px;
  color: $accent-color;
}
