.modal {
  position: fixed;
  bottom: 200px;
  left: 0;
  right: 0;
  z-index: 2;

  display: none;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 48px;
  padding-right: 20px;
  padding-left: 20px;
  width: 320px;
  box-sizing: border-box;

  background-color: $basic-background-color;

  box-shadow: 0 7px 15px rgba($modal-shadow, 0.15);

  &--success {
    background-image: linear-gradient(to top, $dark-background-color 163px, $basic-background-color 163px);
  }

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 52px;

    width: 460px;

    &--success {
      padding-bottom: 48px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
    padding-right: 162px;
    width: 780px;

    background-image: linear-gradient(to top, $dark-background-color 163px, $basic-background-color 163px);
  }
}

.modal__title {
  @include title-style-reset;

  margin-bottom: 25px;

  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: $dark-text-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 30px;
    line-height: 40px;
  }
}

.modal__description {
  @include paragraph-style-reset;

  margin-bottom: 40px;

  text-align: center;

  .modal--success & {
    margin-bottom: 86px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;

    font-size: 18px;

    .modal--success & {
      margin-left: -4px;
      margin-right: -4px;
      margin-bottom: 78px;

      & br {
        display: none;
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 110px;
    padding-left: 40px;
    padding-right: 40px;

    .modal--success & {
      margin-bottom: 88px;
    }
  }
}

.modal__button {
  padding-bottom: 18px;
  width: 280px;
  box-sizing: border-box;

  font-size: 18px;

  @media (min-width: $tablet-width) {
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    margin-right: auto;
    width: 296px;

    .modal--success & {
      width: 456px;
    }
  }
}

.modal--opened {
  display: block;
}
