.page {
  height: 100%;
  min-width: 320px;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;

  min-height: 100%;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  font-family: "OpenSans", "Arial", sans-serif;
  color: $basic-text-color;
}
