.post {
  height: 100%;

  background-color: $dark-background-color;

  @media (min-width: $tablet-width) {
    position: relative;

    &--panorama {
      position: static;
    }
  }

  @media (min-width: $desktop-width) {
    &--panorama {
      margin-top: 506px;
    }
  }
}

.post__link {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.post__photo-wrapper {
  &--panorama {
    position: relative;

    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 20px * 2);
  }

  &--panorama-day::before {
    content: "Панорама дня";

    position: absolute;
    z-index: 2;
    right: 20px;
    top: 0;

    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;
    display: block;

    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: $light-text-color;

    background-color: $accent-color;
  }

  @media (min-width: $tablet-width) {
    &--panorama {
      width: calc(100% + 20px * 2);
    }

    &--panorama-day::before {
      top: 58px;
    }
  }

  @media (min-width: $desktop-width) {
    &--panorama {
      position: absolute;

      left: 50%;
      transform: translateX(-50%);

      margin-left: 0;
      margin-right: 0;
      margin-top: -506px;
      width: 100%;
      height: 506px;

      overflow: hidden;
    }

    &--panorama-day::before {
      top: 54px;
      left: 50%;
      right: auto;
      transform: translateX(329px);
    }
  }
}

.post__photo {
  width: 100%;
  height: auto;

  vertical-align: bottom;
}

.post__info {
  padding-top: 18px;
  padding-right: 10px;
  padding-bottom: 18px;
  padding-left: 17px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 24px;
    padding-right: 30px;
    padding-bottom: 48px;
    padding-left: 30px;

    .post--panorama & {
      padding-bottom: 24px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 28px;
  }
}

.post__wrapper {
  display: flex;

  @media (min-width: $tablet-width) {
    order: -2;
  }
}

.post__author {
  @include paragraph-style-reset;

  margin-right: 3px;

  font-weight: bold;
}

.post__time {
  @include paragraph-style-reset;

  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}

.post__text {
  @include paragraph-style-reset;

  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    width: 100%;
    min-height: 48px;

    .post--panorama & {
      margin-bottom: 0;
      min-height: 0;
    }

    & br {
      display: none;
    }
  }
}

.post__like-counter {
  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 24px;

    width: calc(100% - 60px);

    .post--panorama & {
      position: static;

      order: -1;

      width: 120px;
    }
  }
}
