.reviews {
  padding-top: 48px;
  padding-bottom: 15px;

  background-color: $basic-background-color;

  @media (min-width: $desktop-width) {
    position: relative;

    padding-top: 185px;

    &::before {
      content: url("../img/icon-quotes.svg");

      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 70px;
    }
  }
}

.reviews__list {
  @include list-style-reset;

  margin-bottom: 20px;
}

.reviews__item {
  min-height: 220px;

  @media (min-width: $tablet-width) {
    min-height: 190px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 120px;
    padding-left: 120px;
    min-height: none;
  }
}
