.social {
  @include list-style-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social__link {
  display: block;
  margin: 5px;
  width: 48px;
  height: 48px;

  text-align: center;
  color: $accent-color;

  border: 3px solid rgba($accent-border-color, 0.1);
  border-radius: 50%;


  &:hover,
  &:focus {
    border-color: $accent-border-color;
  }

  &:active {
    color: rgba($accent-color, 0.3);

    border-color: rgba($accent-border-color, 0.1);
  }

  @media (min-width: $tablet-width) {
    margin: 3px;
  }
}

.social__image {
  &--twitter {
    padding-top: 17px;
  }

  &--facebook {
    padding-top: 15px;
  }

  &--youtube {
    padding-top: 17px;
  }
}
