//Color-scheme

$accent-color: #d22856;
$special-accent-color: #2aab6d;
$dark-special-accent-color: #1c9b5e;

$basic-background-color: #ffffff;
$dark-background-color: #f2f2f2;
$darkest-background-color: #000000;
$accent-background-color: #283645;

$light-text-color: #ffffff;
$basic-text-color: #283645;
$dark-text-color: #000000;
$accent-text-color: #d22856;


$light-border-color: #ffffff;
$border-color: #e5e5e5;
$dark-border-color : #000000;
$accent-border-color: #283645;

$link-block-background-color: #1d2631;


$form-border-color: #e5e5e5;

$modal-shadow: #000101;

//Breakpoints-widths

$mobile-only-width: 659px;
$tablet-only-width: 959px;
$tablet-width: 660px;
$desktop-width: 960px;

//Special

$mobile-header-min-height: 66px;
$tablet-header-min-height: 110px;
